{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<h1>Ay bendito! An Error Occurred</h1>
<h2>The server returned a "404 Not Found".</h2>

<div>
    Algo se rompió! Please e-mail us at info@brandsofpuertorico.com and 
    let us know what you were doing when this error occurred. We will fix it 
    as soon as possible. Mala mía for any inconvenience caused. Bendición!
</div>
{% endblock %}
