<form method="post" action="{{ path('sylius_search') }}">
	<input type="text" name="search[query]" placeholder="Search..." /> 
	<button type="submit"><i class="glyphicon glyphicon-search"></i></button>
</form>