{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Registrarse</h1>
</div>

<br>

<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" novalidate>
    <fieldset style="border: none;">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </fieldset>
    <br>
    <div class="form-actions clearfix">
        <button type="submit" class="btn btn-success btn-lg">Register</button>
    </div>
</form>
<br>
<br>
{% endblock %}
