{% macro list(products) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
<div class="products clearfix row">
{% for product in products %}
	{% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}
	{% if loop.index is divisible by(4) %}
	</div>
	<div class="products clearfix row">
	{% endif %}
{% endfor %}
</div>
{% if 0 == products|length %}
    <div class="col-md-12">
        {{ alerts.info('sylius.product.no_results'|trans) }}
    </div>
{% endif %}

{% endmacro %}

{% macro grid(products, size = 3) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% for product in products %}
    {% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}
{% endfor %}
{% if 0 == products|length %}
    <div class="col-md-12">
        {{ alerts.info('sylius.product.no_results'|trans) }}
    </div>
{% endif %}

{% endmacro %}

{% macro carousel(products, size = 4) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

<div id="carouselProducts" class="carousel slide" data-ride="carousel">
	<!-- Wrapper for slides -->
  	<div class="carousel-inner">
  		<div class="item row active">
		{% for product in products %}
    		{% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}
    		{% if(loop.index%size == 0 and loop.index < products|length) %}
    		</div>
    		<div class="item row">
    		{% endif %}
		{% endfor %}
      	</div>
	</div>
	<!-- Controls -->
  	<a class="left carousel-control" href="#carouselProducts" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
  	</a>
  	<a class="right carousel-control" href="#carouselProducts" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right"></span>
  	</a>
</div>

{% if 0 == products|length %}
    <div class="col-md-12">
        {{ alerts.info('sylius.product.no_results'|trans) }}
    </div>
{% endif %}

{% endmacro %}