* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


#topMenu {
	background-color: #81705a;
	height: 37px;
}

#topMenu .language {
	color: #f3f1f0;
	float: left;
	font-size: 14px;
	font-weight: 100;
	line-height: 37px;
}

#topMenu .menu {
	float: right;
	line-height: 37px;
	height: 37px;
}

#topMenu .menu li {
	float: left;
	margin-right: 20px;
	height: 100%
}

#topMenu .menu li a {
	font-size: 14px;
	color: #f3f1f0;
	background: url(../images/checkout-icon.png) no-repeat 5px 1px;
	padding: 0 10px 0 28px;
}

#topMenu .menu li.myAccount a {
	background-image: url(../images/myaccount-icon.png);
}

#topMenu .menu li.myWishlist a {
	background-image: url(../images/mywishlist-icon.png);
}

#topMenu .menu li.myCart a {
	background-image: url(../images/mycart-icon.png);
}

#topMenu .menu li.checkout {
	background-color: #e12929;
	margin-right: 0;
}

#topMenu .menuMobile {
	float: left;
	line-height: 71px;
	height: 71px;
}

#topMenu .menuMobile li {
	float: left;
	height: 100%
}

#topMenu .menuMobile li a {
	font-size: 14px;
	color: #f3f1f0;
	background: url(../images/checkout-icon.png) no-repeat 5px 1px;
	padding: 0 10px 0 28px;
}

#topMenu .menuMobile li.myAccount a {
	background-image: url(../images/myaccount-icon.png);
}

#topMenu .menuMobile li.myWishlist a {
	background-image: url(../images/mywishlist-icon.png);
}

#topMenu .menuMobile li.myCart a {
	background-image: url(../images/mycart-icon.png);
}

#topMenu .menuMobile li.checkout {
	background-color: #e12929;
	margin-right: 0;
}

header {
	height: 155px;
	margin-top: 10px;
}

header .logo {
	float: left;
}

header .shoppingCart {
	color: #010101;
	background: url(../images/cart.png) no-repeat;
	float: right;
	height: 48px;
	margin: 20px 65px 0 0;
	padding: 10px 0 0 50px;
}

header .shoppingCart span {
	color: #6d8eb2;
}

header .shoppingCart p {
	margin: 0;
}

header .navMenu {
	float: left;
	margin-top: 18px;
	margin-bottom: 5px;
}

header .navMenu li {
	float: left;
	width: 140px;
	text-align: center;
}

header .navMenu li a {
	color: #222222;
	font-weight: 500;
}
/*
header .navMenu li.home {
	margin-left: 33px;
}

header .navMenu li.women {
	margin-left: 72px;
}

header .navMenu li.men {
	margin-left: 72px;
}

header .navMenu li.footwear {
	margin-left: 72px;
}

header .navMenu li.jewelry {
	margin-left: 72px;
}

header .navMenu li.accesories {
	margin-left: 72px;
}

header .navMenu li.custom {
	margin-left: 72px;
}
*/

.separator {
	width: 100%;
}

#content {
}

#content .breadcrumb {
	height: 20px;
	background-color: #ffffff;
}

#content .breadcrumb li {
	float: left;
	margin-right: 5px;
}

#content .sidebar {
	float: left;
	margin-top: 28px;
	width: 260px;
}

#content .sidebar li {
	border: 1px solid #dfdfdf;
	height: 44px;
	width: 260px;
}

#content .sidebar li a {
	color: #000000;
	line-height: 44px;
	margin-left: 15px;
}

#content .sidebar .children li {
	border: 1px solid #dfdfdf;
	height: 44px;
	width: 260px;
}

#content .sidebar .children li a {
	color: #000000;
	line-height: 44px;
	margin-left: 30px;
}

#content .static1 .top .left {
	padding: 0;
	width: 200px;
}

#content .static1 .top .middle {
	margin-left: 5px;
	padding: 0;
	width: 730px;
}

#content .static1 .top .right {
	margin-left: 5px;
	padding: 0;
	width: 200px;
}

#content .static1 .bottom {
	margin-top: 20px;
}

#content .static1 .bottom .left {
	padding: 0;
	width: 377px;
}

#content .static1 .bottom .middle{
	margin-left: 5px;
	padding: 0;
}

#content .static1 .bottom .middle .top {
	width: 376px;
}

#content .static1 .bottom .middle .bottom {
	margin-top: 20px;
	width: 376px;
}

#content .static1 .bottom .right {
	margin-left: 1px;
	padding: 0;
	width: 377px;
}

#content .productList {
	float: right;
	margin-top: 20px;
	width: 858px;
}

#content .productList .static1 {
	background-color: #dfdfdf;
	height: 320px;
}

#content .productList .paginator {
	height: 57px;
	margin-top: 15px;
	padding: 0 8px;
}
/*
#content .productList .paginator img {
	position: absolute;
}

#content .productList .paginator .sortBy {
	float: left;
	height: 57px;
	text-align: center;
	width: 195px;
}

#content .productList .paginator .sortBy p {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
#content .productList .paginator .sortBy select {
	float: left;
	margin-top: 19px;
	margin-left: 5px;
}

#content .productList .paginator .show {
	float: left;
	height: 57px;
	margin-left: 60px;
	text-align: center;
	width: 185px;
}

#content .productList .paginator .show p {
	float: left;
	margin-top: 20px;
}
#content .productList .paginator .show select {
	float: left;
	margin-top: 19px;
	margin-left: 5px;
}

#content .productList .paginator .page {
	float: left;
	height: 57px;
	margin-left: 60px;
	text-align: center;
	width: 185px;
}

#content .productList .paginator .page p {
	float: left;
	margin-top: 20px;
}

#content .productList .paginator .view {
	float: left;
	height: 57px;
	margin-left: 30px;
	text-align: center;
	width: 143px;
}

#content .productList .paginator .view p {
	float: left;
	margin-top: 20px;
}*/

#content .productList .paginator .pagination {
	position:absolute;
	margin-top: 14px;
	margin-left: 210px;
}

#content .pagination li {
	list-style: none;
	float: left;
	background-color: #f4f4f4;
	line-height: 30px;
	margin: 0 3px;
	width: 35px;
	text-align: center;
}

#content .pagination li a {
	color: #000000;
}

#content .pagination .active {
	background-color: #81705a;
}

#content .pagination .active a {
	color: #ffffff;
}

#content .pagination .prev {
	width: auto;
}

#content .pagination .next {
	width: auto;
}

#content .productList .items {
	height: 40px;
}

#content .productList .items p {
	line-height: 65px;
	text-align: center;
}

#content .productShow {
	margin-top: 30px;
	margin-bottom: 50px;
}

#content .productShow img {
	float: left;
}

#content .productShow .description {
	float: left;
	margin-left: 45px;
}

#content .productShow .description .name {
	font-size: 20pt;
}

#content .productShow .description .price {
	color: #e12929;
	font-size: 18pt;
	margin-top: 25px;
	margin-bottom: 20px;
}

#content .productShow .description form select {
	height: 30px;
	margin-bottom: 20px;
	width: 100%;
}

#content .productShow .description .quantity {
	width: 40%;
}

#content .productShow .description .addToCart {
	background-color: #ffffff;
	border: 2px solid #e50f0f;
	color: #e50f0f;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	width: 140px;
}

#content .productShow .static1 {
	background-color: #dfdfdf;
	float: right;
	height: 560px;
	width: 230px;
}

#content .featuredProducts {
	margin-top: 52px;
}

/*
#content .productList .products {
	margin-top: 28px;
}
*/
#content .products {
	margin-top: 28px;
}

#content .products .article {
	float: left;
	margin-bottom: 38px;
}

#content .products .articleWithoutMargin {
	float: left;
	height: 440px;
	margin-bottom: 38px;
	width: 250px;
}

#content .products .article p {
	margin-top: 15px;
	text-align: center;
}

#content .products .article span {
	color: #6d8eb2;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#content .products .article .addToCart {
	background-color: #ffffff;
	border: 2px solid #e50f0f;
	color: #e50f0f;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	width: 140px;
}

#content .products .articleMobile p {
	margin-top: 15px;
	text-align: center;
}

#content .products .articleMobile span {
	color: #6d8eb2;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#content .products .articleMobile .addToCart {
	background-color: #ffffff;
	border: 2px solid #e50f0f;
	color: #e50f0f;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 40px;
	width: 140px;
}

#content .static2 {
	margin-bottom: 70px;
}

#content .static2 .left {
	padding: 0;
	width: 463px;
}

#content .static2 .right {
	padding: 0;
	width: 663px;
}

#content .static2 .right .left {
	margin-left: 10px;
	padding: 0;
	width: 221px;
}

#content .static2 .right .middle {
	margin-left: 10px;
	padding: 0;
	width: 221px;
}

#content .static2 .right .right {
	margin-left: 10px;
	padding: 0;
	width: 221px;
}

#content .productList .paginatorFooter {
	height: 157px;
}

#content .productList .paginatorFooter .pagination {
	position: absolute;
	margin-top: 50px;
	margin-left: 210px;
}

#content .cart {
	margin-bottom: 50px;
}

#content .cart .saveCart {
	background-color: #2e9afe;
	border: 2px solid #0101df;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 25px;
	width: 80px;
}

#content .cart .finalizeCart {
	background-color: #74df00;
	border: 2px solid #298a08;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 25px;
	width: 80px;
}

#content .cart .removeCart {
	background-color: #ff0000;
	border: 2px solid #df0101;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 25px;
	width: 80px;
}

footer {
	background-color: #81705a;
}

.containerFooter {
	padding-top: 41px;
}

footer .info1 .delivery {
	border: 1px solid #ffffff;
	background: url(../images/delivery-icon.png) no-repeat 35px 19px;
	float: left;
	height: 59px;
	width: 372px;
}

footer .info1 .delivery p {
	color: #ffffff;
	margin-top: 20px;
	text-align: center;
}

footer .info1 .phone {
	border: 1px solid #ffffff;
	background: url(../images/phone-icon.png) no-repeat 35px 15px;
	float: left;
	height: 59px;
	margin-left: 12px;
	width: 372px;
}

footer .info1 .phone p {
	color: #ffffff;
	margin-top: 21px;
	text-align: center;
}

footer .info1 .guarantee {
	border: 1px solid #ffffff;
	background: #ffffff url(../images/guarantee-icon.png) no-repeat 35px 15px;
	float: right;
	height: 59px;
	margin-left: 12px;
	width: 372px;
}

footer .info1 .guarantee p {
	color: #81705a;
	margin-top: 21px;
	text-align: center;
}

footer .info2 {
	height: 165px;
	margin-top: 65px;
}

footer .info2 .store span {
	color: #ffffff;
}

footer .info2 .store .title {
	color: #ffffff;
	font-size: 16px;
}

footer .info2 .store .content {
	font-size: 14px;
	margin-top: 25px;
}

footer .info2 .store .content p {
	color: #c7c0b9;
	margin: 0 0 6px;
}

footer .info3 {
	height: 96px;
}

footer .info3 .newsletter {
	float: left;
	height: 56px;
	margin: 21px auto;
	width: 470px;
}

footer .info3 .newsletter form {
	margin: 20px auto;
}

footer .info3 .newsletter input {
	background-color: #e4e1dc;
	height: 32px;
	width: 245px;
}

footer .info3 .newsletter button {
	background-color: #ffffff;
	height: 35px;
	width: 87px;
}

footer .info3 .newsletter form span {
	color: #ffffff;
}

footer .info3 .connected {
	margin: 40px auto;
	width: 345px;
}

footer .info3 .connected span {
	color: #ffffff;
	float: left;
	margin: 22px auto;
}

footer .info3 .connected .social {
	float: right;
	margin-top: 14px;
	margin-right: 20px;
}

footer .info4 {
	height: 65px;
}

footer .info4 .menuFooter {
	height: 20px;
	margin-left: 265px;
}

footer .info4 .menuFooter li {
	color: #ffffff;
	float: left;
	font-size: 14px;
	margin-right: 20px;
}

footer .info4 .copyright {
	color: #c7c0b9;
	font-size: 14px;
	height: 20px;
	margin-top: 5px;
	text-align: center;
}

footer .info4 .copyright span {
	color: #ffffff;
}

#content .buttonForm {
	background-color: #2e9afe;
	border: 2px solid #0101df;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 25px;
	width: 80px;
}

#content .address > div {
	float: left;
	margin-right: 200px;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen
and (max-width:767px) {
	#topMenu {
		background-color: #81705a;
		height: 71px;
		margin-bottom: 20px;
	}
	
	#topMenu .menu {
		display: none;
	}
	
	#topMenu .menuMobile {
		margin-left: 10px;
	}
	
	#topMenu .logoMobile {
		display: block;
		float: right;
	}
	
	header {
		display: none;
	}
	
	#content .sidebar {
		display: none;
	}
	
	#content .productList {
		float: none;
		width: initial;
	}
	
	#content .productList .paginator {
		margin-top: 0;
	}
	
	#content .pagination li {
		margin: 0;
		width: 25px;
	}
	
	#content .productList .paginator .pagination {
		margin-left: 0;
	}
	
	#content .productList .paginator img {
		display: none;
	}
	
	#content .productList .items {
		margin-top: 20px;
	}
	
	content .productList .items p {
		line-height: 40px;
	}
	
	#content .productList .paginatorFooter .pagination {
		margin-left: 0;
	}
	
	#content .productList .static1 {
		display: none;
	}
	
	#content .productShow .static1 {
		display: none;
	}
	
	footer {
		height: 720px
	}
	
	footer .info1 {
		width: 100%;
	}
	
	footer .info1 .delivery {
		float: none;
		margin: 0 auto;
		width: 100%;
		background: url(../images/delivery-icon.png) no-repeat 25px 19px;
	}
	
	footer .info1 .phone {
		float: none;
		margin: 12px auto 0 auto;
		width: 100%;
		background: url(../images/phone-icon.png) no-repeat 25px 15px;
	}
	
	footer .info1 .guarantee {
		float: none;
		margin: 12px auto 0 auto;
		width: 100%;
		background: #ffffff url(../images/guarantee-icon.png) no-repeat 25px 15px;
	}
	
	footer .info4 .menuFooter {
		margin-left: 0;
	}
	
	footer .info4 .copyright {
		float: left;
	}
}
 
/* iPads (portrait and landscape) ----------- */
@media screen
and (min-width : 768px) {
	.logoMobile {
		display: none;
	}
	
	#topMenu .menuMobile {
		display: none;
	}
}
 
/* Desktops and laptops ----------- */
@media screen
and (min-width : 992px) {
	.logoMobile {
		display: none;
	}
	
	#topMenu .menuMobile {
		display: none;
	}
}

@media screen
and (min-width : 1200px) {
	.logoMobile {
		display: none;
	}
	
	#topMenu .menuMobile {
		display: none;
	}
}

.navbar {
	background-color: #000000;
	float: left;
	border: none;
}

.navbar a {
	color: #ffffff;;
}

.navbar-header .navbar-toggle {
	height: 71px;
	width: 71px;
	margin: 0;
	border: none;
	margin: 0 auto;
	float: left;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.form-control {
	padding: 0 6px;
}
