{% for taxon in taxons %}
	<li class="dropdown">
		<a class="dropdown-toggle" {{ isMobile?'data-toggle="dropdown"':'' }} role="button" aria-expanded="false" href="{{ path('sylius_product_index_by_taxon', {'permalink': taxon.permalink }) }}">{{ taxon.name }}</a>
		<ul class="dropdown-menu" role="menu">
			{{ render(controller('SyliusWebBundle:Frontend/Component:sideMenu', {'parent': taxon.id})) }}
         </ul>
	</li>
{% endfor %}