{% for taxon in taxons %}
	<li><a href="{{ path('sylius_product_index_by_taxon', {'permalink': taxon.permalink }) }}">{{ taxon.name }}</a></li>	
{% if(taxon.getChildren.isEmpty == false) %}
		<ul class="children">
			{% for children in taxon.getChildren %}
				<li><a href="{{ path('sylius_product_index_by_taxon', {'permalink': children.permalink }) }}">{{ children.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endfor %}